<h2>Halo <%= @user.name %></h2>

<p>Selamat datang di Sistem Disentra. </p>

<p>Akun Anda telah aktif dan siap untuk digunakan.</p>

<p>Selamat menggunakan aplikasi mobile DiSentra.</p>

<p>Jika Anda mengalami kesulitan, mohon hubungi customer support<br>
   kami di email: bjbdisentra@gmail.com atau WA/Telepone: 081213080931</p>
