<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Halo <%= @user.name %></h2>

    <p>Selamat datang di Sistem Disentra. </p>

    <p>Akun Anda telah aktif dan siap untuk digunakan,</p>

    <p>Berikut ini informasi halaman login dan detail akun Anda:</p>

    <% info_user_link = "#{ENV['WEB_HOST']}" %>

    <p>Halaman login: <%= link_to info_user_link, info_user_link %><br>
        Email: <%= @user.email %><br>
        Password: <%= @user.password %><br></p>

    <p>Jika Anda mengalami kesulitan, mohon hubungi customer support<br>
      kami di email: bjbdisentra@gmail.com atau WA/Telepone: 081213080931</p>

    <p>Terima Kasih.</p>
  </body>
</html>