<h2>Halo <%= @name %></h2>

<p>Berikut ini adalah tautan untuk mengkonfirmasi akun Anda:</p>

<% confirm_link = "#{ENV['WEB_HOST']}/auth/confirmation?confirmation_token=#{@token}" %>
<%= link_to confirm_link do %>
  <button class="new-password-button">
    Konfirmasi Akun
  </button>
<% end %>
<br>
<p>Terima Kasih sudah mendaftar di DiSentra.</p>

<p>Jika Anda mengalami kesulitan, mohon hubungi customer support<br>
   kami di email: bjbdisentra@gmail.com atau WA/Telepone: 081213080931</p>
