
<h2>Halo <%= @name %></h2>

<p>Berikut ini adalah tautan untuk mengubah kata sandi akun Anda:</p>

<% reset_password_link = "#{ENV['WEB_HOST']}/auth/reset-password?reset_password_token=#{@token}&scope=#{@scope}" %>
<%= link_to reset_password_link do %>
  <button class="new-password-button">
    Ubah Kata Sandi
  </button>
<% end %>
<br>

<p>Jika Anda mengalami kesulitan, mohon hubungi customer support<br>
   kami di email: bjbdisentra@gmail.com atau WA/Telepone: 081213080931</p>
